.header {
    background: transparent;
}

.input-name {
    color: #A5C0D1;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
}

input {
    background: #F2FAFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: none;
    height: 2rem;
    padding: 10px;
}

.form-group {
    margin-right: 20px;
}

.location-name input {
    width: 160px !important;
}

.latitude input,
.longitude input {
    width: 120px !important;
}

.submit-button {
    margin-top: 0.75rem;
    width: 10rem;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 0.49;
    color: #074770;
}